In [ ]:
class bishnu:
    def sum(a,b,c):
        return a*b+b*c
    def subtraction(x,y):
        return x-y
    def multiplication(a):
        return a*a*a
p1 = bishnu
p2 = bishnu
p3 =bishnu
print(p1.sum(10,20,30))
print(p1.subtraction(10,5))
print(p3.multiplication(2))

%lsmagic

In [4]:
# The following is the class for a vehicle

SyntaxError: invalid syntax (<ipython-input-4-8cefb5831dd6>, line 1)

# vehicle class

In [8]:
class vehicle:
    name  = "honda"
    kind = "car"
    color = 'red'
    value = 10000.0
    def description(self):
        price ="%s is a %s %s worth $%.2f."%(self.name,self.color,self.kind,self.value)
        return price
car1 = vehicle()
print(car1.description())

honda is a red car worth $10000.00.

# scopes and namespaces example

In [15]:
def scope_test():
    def do_local():
        spam = "local spam"
    def do_nonlocal():
        nonlocal spam
        spam = "nonlocal spam"
    def do_global():
        global spam
        spam ="global spam "
    spam = "test spam"
    do_local()
    print("after local assignment:",spam)
    do_nonlocal()
    print("after nonlocal assignment:",spam)
    do_global()
    print("after global assignment:",spam)
scope_test()
print("In global scope:",spam)

after local assignment: test spam
after nonlocal assignment: nonlocal spam
after global assignment: nonlocal spam
In global scope: global spam

# constrcuctors in python

In [22]:
class complex_number:
    def __init__(self,r=0,i=0):
        self.real =r
        self.image=i        
    def getData(self):
        print("{0}+{1}".format(self.real,self.image))
c1 =complex_number(2,3)
c2= complex_number(5)
c2.attr =10
print(c2.real,c2.image,c2.attr)

5 0 10

In [26]:
numbers = list(range(1,10))
print(numbers)
print(pop.numbers())

[1, 2, 3, 4, 5, 6, 7, 8, 9]

NameError: name 'pop' is not defined

# insert a list in to the function

In [28]:
list1 = [1,2,3,4,5,6,7,8]
def jlab(lab):
    list =[]
    for i in lab:
        list.append(i*i)
    return list
print(jlab(list1))

[1, 4, 9, 16, 25, 36, 49, 64]

In [36]:
list2 =[1,3,5,7,9]
def reverse(abc):
    list3 =[]
    for i in abc:
        list3.append(i**2)
        list3 = list3[::-1]
    return list3
print(reverse(list2))

[81, 25, 1, 9, 49]

In [49]:
list4 = [1,4,7,10]
def reverse1(l):
    lis = []
    for i in range(len(l)):
        pooped = l.pop()
        lis.append(pooped)
    return lis
print(reverse1(list4))

[10, 7, 4, 1]

In [74]:
list5 = ['bishnu','pandey','sarwin','sid','jyoti']
def rever(l):
    lisc= []
    for i in l:
        lisc.append(i[::-1])
    return lisc
print(rever(list5))

['unhsib', 'yednap', 'niwras', 'dis', 'itoyj']

# class for a dog

In [77]:
class Dog:
    species= 'animal'
    def __init__(self,name,age):
        self.name = name
        self.age = age
#make the objects for the class
philo = Dog("philo",5)
mikey = Dog("mikey",6)
print("{} is {} and {} is {}.".format(philo.name,philo.age,mikey.name,mikey.age))

philo is 5 and mikey is 6.

# define a function which take a list as an argumenta and then return two list separated by even and odd numbers

In [87]:
list1 = [1,2,3,4,5,6,7,8]
def func1(list):
    list2 =[]
    list3 = []
    for i in list1:
        if i%2==0:
            list2.append(i)
        else:
            list3.append(i)
    return [list2,list3]
print(func1(list1))

[[2, 4, 6, 8], [1, 3, 5, 7]]

# define a function, take 2 list as an output and finaly return only one list with common numbers in each

In [120]:
list1 = [10,20,30,40,'mango', 'apple','banana']
list2 = [10,300,40, 'mango']
def common(l1,l2):
    list3 =[]
    for i in l1:
        if i in l2:
            list3.append(i)
    return list3
print(common(list1,list2))

[10, 40, 'mango']

# define a function that will return the larhest difference between the elemnts of the list

In [121]:
lis = [111,20,3,36,5,6,7,89,10,100,500]
def max_dif(l):
    return max(l) - min(l)
print(max_dif(lis))

497

# define a function that will tell you how many list are inside the main list?

In [126]:
l1 = [1,2,34,[1,2,3],[10,20,30],[100,200,500]]
def inside1(l):
    count =0
    for i in l:
        if type(i) ==list:
            count = count +1
    return count
print(inside1(l1))

3

In [128]:
list = [1,2,3,4,5,6,7,8]
list.pop(0)
print(list)

[2, 3, 4, 5, 6, 7, 8]

# Tuples

In [1]:
mixed = (1,2,3,4,9.0)
for i in mixed:
    print(i)

1
2
3
4
9.0

# Tuple with one element

In [4]:
name =(1,)
print(type(name))

<class 'tuple'>

In [5]:
name = ("bishnu Pandey", "Sarwin Pandey", "siddartha Pandey")
name1, name2, name3 = name
print(name1)

bishnu Pandey

# list inside tuple

In [9]:
tup = (1,2,3,[5,6,7])
tup[3].append("grapes")
print(tup)

(1, 2, 3, [5, 6, 7, 'grapes'])

In [10]:
def tupl(a,b):
    add = a+b
    multiply = a*b
    return add, multiply
print(tupl(3,5))

(8, 15)

# in the above example it is returning a tuple
# The way to not to return a tuple is the following

In [12]:
def sum_mult(a,b):
    add = a+b
    multiply  = a*b
    return add, multiply
add,multiply = sum_mult(3,5)
print(add)
print(multiply)

8
15

In [14]:
nums = tuple(range(1,10))
print(nums)
nums1 = list(range(1,10))
print(nums1)

(1, 2, 3, 4, 5, 6, 7, 8, 9)
[1, 2, 3, 4, 5, 6, 7, 8, 9]

# dictionary is the un ordered collection of date with a key with corresponding value

In [17]:
dict1 = {"name":"bishnu", 'age' :30}
type(dict1) # simple way to make the dictionary

dict

In [1]:
user1 = dict(name = 'bishnu',age = 25)
print(user1)  #how to make a dictionary

{'name': 'bishnu', 'age': 25}

In [7]:
x = dict(name = "John", age = 36, country = "Norway")
print(x['age'])
# how to acccess the dictionary

36

In [ ]:
# anything can be stored in a dictionary, inte, float, string are dict inside dict

In [14]:
y = dict(name = "John", age = 36, country = "Norway")
if 'Norway' in y.values():
    print('present')
else:
    print("not present")

present

In [24]:
y = dict(name = "John", age = 36, country = "Norway",lis =[1,3,5,7,9])
if [1,3,5,7,9] in y.values():
    print("prsesnt")
else:
    print("not present")

prsesnt

# loopsin a dictionary

In [43]:
dic = {
    'name':'Bishnu',
    'age' :35,
    'University': 'Hampton',
    'lab':'jlab'
}
#for i in dic.values():
 #   print(i)
#user_val = dic.values()
#print(user_val)
#user_keys = dic.keys()
#print(user_keys)
#type(user_keys)
for i in dic:
    print(dic[i])

Bishnu
35
Hampton
jlab

 # items Metghod

# Add and Delete Method

In [46]:
dict3 = {
    'name':'Bishnu',
    'age' :35,
    'University': 'Hampton',
    'lab':'jlab'
}
dict3['favourite_songs']=['aaja tujh ko pukare mera pyar','yeh dil toh']
print(dict3)

{'name': 'Bishnu', 'age': 35, 'University': 'Hampton', 'lab': 'jlab', 'favourite_songs': ['aaja tujh ko pukare mera pyar', 'yeh dil toh']}

# pop method in dictionary

In [49]:
dic5 = {
    'name':'Bishnu',
    'age' :35,
    'University': 'Hampton',
    'lab':'jlab',
    'favourite_movie': '3 idiot'
}
poped_item = dic5.pop('lab')
print(poped_item)
print(dic5)

jlab
{'name': 'Bishnu', 'age': 35, 'University': 'Hampton', 'favourite_movie': '3 idiot'}

# update dictionary

In [53]:
dic5 = {
    'name':'Bishnu',
    'age' :35,
    'University': 'Hampton',
    'lab':'jlab',
    'favourite_movie': '3 idiot'
}
dic6 = {'name': 'sid', 'son2':'sarwin'}
dic5.update(dic6)
print(dic5)
# if upadte with the existed key, the existed key will be re[placed, it won't create a new one]

{'name': 'sid', 'age': 35, 'University': 'Hampton', 'lab': 'jlab', 'favourite_movie': '3 idiot', 'son2': 'sarwin'}

In [58]:
dic7 = {
    'name':'Bishnu',
    'age' :35,
    'University': 'Hampton',
    'lab':'jlab',
    'favourite_movie': '3 idiot'
}
print(dic7.get('age1','not found!'))

not found!

In [60]:
dic8 = {
    'name':'Bishnu',
    'age' :35,
    'University': 'Hampton',
    'lab':'jlab',
    'favourite_movie': '3 idiot',
    'name' : 'sid'
}
print(dic8)

{'name': 'sid', 'age': 35, 'University': 'Hampton', 'lab': 'jlab', 'favourite_movie': '3 idiot'}

# define a function with one argement and  will return a dictionary which contains the cube of the  argument

In [92]:
def cube_dic(a):
    cube ={}
    for i in range (1,a+1):
        cube[i]=i**3
    return cube
print(cube_dic(10))

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [94]:
def word_counter(s):
    count={}
    for i in s:
        count[i]=s.count(i)
    return count
print(word_counter('bishnu pandey'))

{'b': 1, 'i': 1, 's': 1, 'h': 1, 'n': 2, 'u': 1, ' ': 1, 'p': 1, 'a': 1, 'd': 1, 'e': 1, 'y': 1}

# class Definition

In [99]:
class person:
    def __init__(self,first_name,last_name,age):
        self.first_name = first_name
        self.last_name = last_name
        self.age = age
p1 =person('bishnu','pandey',35)
p2=person('salman','khan',55)
print(p1.first_name)

bishnu

In [102]:
class Laptop:
    def __init__(self,model_name,color,price):
        self.model = model_name
        self.color = color
        self.price = price
l1 = Laptop("Dell_i5",'silver','$1000')
print(l1.price)
print(l1.model)

$1000
Dell_i5

In [132]:
class Person:
    def __init__(self,first_name,last_name,age):
        self.first_name=first_name
        self.last_name =last_name
        self.age = age
    def full_name(self):
        return f"{self.first_name} {self.last_name}"
    def is_greater(self):
        return self.age>18
           
p1 = Person('Bishnu','Pandey',34)
p2= Person('sar','pandey',20)
print(p1.age)
print(p2.full_name())
print(p2.is_greater())

34
sar pandey
True

# Discount

In [138]:
class Discount:
    def __init__(self,a):
        self.a =a
       # self.b=b
    def total_discount(self):
        b = self.a -5*self.a/100
        return b
dis1 = Discount(63000)
print(dis1.total_discount())

59850.0

# circle class

In [144]:
class Circle:
    def __init__(self,radius, pi):
        self.radius = radius
        self.pi = pi
    def area(self):
        a = self.pi*self.radius**2
        return a
    def circumference(self):
        b = 2*self.pi*self.radius
        return b
A = Circle(5,3.14159)
print(A.area())
print(A.circumference())
print(A.__dict__)

78.53975
31.4159
{'radius': 5, 'pi': 3.14159}

# class variables ( in above example no need to write 3.14 many time), can be written as

In [142]:
class Circle:
    pi = 3.14
    def __init__(self,radius):
        self.radius = radius
    def area(self):
        a = Circle.pi*self.radius**2
        return a
    def circumference(self):
        b = 2*Circle.pi*self.radius
        return b
A = Circle(5)
print(A.area())
print(A.circumference())

78.5
31.400000000000002